@let s = slot();
@let b = s.effectiveBuild;

@switch (slotType()) {
  @case ('empty') {
    <div
      class="bg-card flex h-10 w-10 items-center justify-center rounded-md border"
    >
      <ng-icon
        class="icon"
        hlm
        name="lucidePlus"
      />
    </div>
    <div class="flex flex-col gap-1">
      <span class="line-clamp-1 text-sm break-all">Zapisz się!</span>
      <app-build-badges [build]="b" />
    </div>
  }
  @case ('blocked') {
    <div
      class="bg-card flex h-10 w-10 items-center justify-center rounded-md border"
    >
      <ng-icon
        class="icon"
        hlm
        name="lucideLockKeyhole"
      />
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-disabled line-clamp-1 text-sm break-all"
        >Zablokowane przez organizatora</span
      >
      <app-build-badges [build]="b" />
    </div>
  }
  @case ('occupied') {
    @let p = s.player!;
    @let a = s.actualBuild!;

    <hlm-avatar size="lg">
      <img
        [src]="p?.avatarUrl"
        alt="A"
        hlmAvatarImage
      />
      <span hlmAvatarFallback>{{ getName().charAt(0) | uppercase }}</span>
    </hlm-avatar>
    <div class="flex flex-1 flex-col gap-1">
      <span
        [title]="getName()"
        class="line-clamp-1 text-sm break-all"
        >{{ getName() }}</span
      >
      <app-build-badges [build]="a" />
    </div>
    @if (isOccupiedByLoggedUser()) {
      <button
        (click)="store.signOutFromEvent()"
        class="cursor-pointer"
        hlmBtn
        size="icon"
        variant="destructive"
      >
        <ng-icon
          hlm
          name="lucideMinus"
        />
      </button>
    }
  }
}
