{
  "printWidth": 80,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
