@let e = event();

<div hlmCardHeader>
  <div class="flex items-center gap-4">
    <ng-icon
      class="shrink-0 grow-0"
      hlm
      name="lucideSwords"
      size="lg"
    />
    <div>
      <h2
        [title]="e.title"
        class="line-clamp-2 text-xl font-black"
      >
        {{ e.title }}
      </h2>
      <div class="text-sm">{{ e.category }}</div>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      @let o = e.organizer;

      <hlm-avatar size="sm">
        <img
          [src]="o.avatarUrl"
          alt="A"
          hlmAvatarImage
        />
        <span hlmAvatarFallback>{{ o.username.charAt(0) | uppercase }}</span>
      </hlm-avatar>
      <span class="text-xs">{{ o.username }}</span>
    </div>
    <div class="flex flex-row gap-2">
      <div class="flex items-center gap-1">
        <ng-icon
          hlm
          name="lucideCalendar"
          size="sm"
        />
        <span class="text-xs">{{ e.startTime | date: 'dd.MM, HH:mm' }}</span>
      </div>
      <div class="flex items-center gap-1">
        <ng-icon
          hlm
          name="lucideTimer"
          size="sm"
        />
        <span class="text-xs">{{ e.startTime | duration: e.endTime }}</span>
      </div>
    </div>
  </div>
</div>
<div
  class="flex flex-1"
  hlmCardContent
>
  <div class="flex w-full flex-col gap-2">
    <div class="flex items-center gap-1">
      <ng-icon
        hlm
        name="lucideUsers"
        size="sm"
      />
      <span>{{ e.occupiedSlotsSize }} / {{ e.slotsSize }}</span>
    </div>
    <hlm-progress [value]="occupancyPercentage()">
      <hlm-progress-indicator />
    </hlm-progress>
    <div class="mt-2 flex flex-wrap items-center gap-1.5">
      @for (role of e.neededRoles; track role) {
        <span
          class="badge"
          hlmBadge
          >{{ role }}</span
        >
      }
    </div>
  </div>
</div>
<p hlmCardFooter>
  <a
    [routerLink]="[e.id]"
    class="w-full"
    hlmBtn
    variant="outline"
  >
    Przejdź do wydarzenia
  </a>
</p>
